
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

p{
    margin-left: 30%;
    margin-top: 20%;
    background-color: black;
    border-radius: 12px;
    width: 40rem;
    height: 50px;
    opacity: 70%;
}

header{
    background-color:rgb(224, 243, 140);
    color:black;
    box-shadow: -1px 8px 8px;
    width: 100rem;
    margin-left:-0.5%;
    height:80px;
    margin-top: -0.6%;

}

h1{
    color: rgb(114, 96, 96);
    margin-left: 35%;
    margin-top: -4.3%;   
}

h2{
    margin-top: -28%;
    margin-left: 15%;
}

h3{
    color: black;
    margin-top: -3.5%;
    margin-left: 68%;

}

h4{
    font-size: 20px;
    color: black;
    margin-top: -3.1%;
    margin-left: 88%;
}

button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    opacity: 67%;
    margin-top: 26%;
    margin-left: 47%;
}

.yellow{
  background-color: yellow;
}

.violet{
    background-color: blueviolet;
}

.brown{
    background-color: brown;
}

.blue{
    background-color:blue;
}